<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cook.dao.ConPermissionRoleMapper" >
  <resultMap id="BaseResultMap" type="com.cook.entity.ConPermissionRole" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sys_role_id" property="sysRoleId" jdbcType="VARCHAR" />
    <result column="sys_permission_id" property="sysPermissionId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_role_id, sys_permission_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from con_permission_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from con_permission_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cook.entity.ConPermissionRole" >
    insert into con_permission_role (id, sys_role_id, sys_permission_id
      )
    values (#{id,jdbcType=VARCHAR}, #{sysRoleId,jdbcType=VARCHAR}, #{sysPermissionId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cook.entity.ConPermissionRole" >
    insert into con_permission_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysRoleId != null" >
        sys_role_id,
      </if>
      <if test="sysPermissionId != null" >
        sys_permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysRoleId != null" >
        #{sysRoleId,jdbcType=VARCHAR},
      </if>
      <if test="sysPermissionId != null" >
        #{sysPermissionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cook.entity.ConPermissionRole" >
    update con_permission_role
    <set >
      <if test="sysRoleId != null" >
        sys_role_id = #{sysRoleId,jdbcType=VARCHAR},
      </if>
      <if test="sysPermissionId != null" >
        sys_permission_id = #{sysPermissionId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cook.entity.ConPermissionRole" >
    update con_permission_role
    set sys_role_id = #{sysRoleId,jdbcType=VARCHAR},
      sys_permission_id = #{sysPermissionId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>