<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cook.dao.ConsultCommentMapper" >
  <resultMap id="BaseResultMap" type="com.cook.entity.ConsultComment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="admire_count" property="admireCount" jdbcType="INTEGER" />
    <result column="comment_user_id" property="commentUserId" jdbcType="VARCHAR" />
    <result column="consult_id" property="consultId" jdbcType="VARCHAR" />
    <result column="comment_date" property="commentDate" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, admire_count, comment_user_id, consult_id, comment_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from consult_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from consult_comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cook.entity.ConsultComment" >
    insert into consult_comment (id, content, admire_count, 
      comment_user_id, consult_id, comment_date
      )
    values (#{id,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{admireCount,jdbcType=INTEGER}, 
      #{commentUserId,jdbcType=VARCHAR}, #{consultId,jdbcType=VARCHAR}, #{commentDate,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cook.entity.ConsultComment" >
    insert into consult_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="admireCount != null" >
        admire_count,
      </if>
      <if test="commentUserId != null" >
        comment_user_id,
      </if>
      <if test="consultId != null" >
        consult_id,
      </if>
      <if test="commentDate != null" >
        comment_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="admireCount != null" >
        #{admireCount,jdbcType=INTEGER},
      </if>
      <if test="commentUserId != null" >
        #{commentUserId,jdbcType=VARCHAR},
      </if>
      <if test="consultId != null" >
        #{consultId,jdbcType=VARCHAR},
      </if>
      <if test="commentDate != null" >
        #{commentDate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cook.entity.ConsultComment" >
    update consult_comment
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="admireCount != null" >
        admire_count = #{admireCount,jdbcType=INTEGER},
      </if>
      <if test="commentUserId != null" >
        comment_user_id = #{commentUserId,jdbcType=VARCHAR},
      </if>
      <if test="consultId != null" >
        consult_id = #{consultId,jdbcType=VARCHAR},
      </if>
      <if test="commentDate != null" >
        comment_date = #{commentDate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cook.entity.ConsultComment" >
    update consult_comment
    set content = #{content,jdbcType=VARCHAR},
      admire_count = #{admireCount,jdbcType=INTEGER},
      comment_user_id = #{commentUserId,jdbcType=VARCHAR},
      consult_id = #{consultId,jdbcType=VARCHAR},
      comment_date = #{commentDate,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>