<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cook.dao.ResumeMapper" >
  <resultMap id="BaseResultMap" type="com.cook.entity.Resume" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="work_year" property="workYear" jdbcType="SMALLINT" />
    <result column="work_experience_id" property="workExperienceId" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, work_year, work_experience_id, education, user_id, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from resume
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from resume
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cook.entity.Resume" >
    insert into resume (id, work_year, work_experience_id, 
      education, user_id, title
      )
    values (#{id,jdbcType=VARCHAR}, #{workYear,jdbcType=SMALLINT}, #{workExperienceId,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cook.entity.Resume" >
    insert into resume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="workYear != null" >
        work_year,
      </if>
      <if test="workExperienceId != null" >
        work_experience_id,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="workYear != null" >
        #{workYear,jdbcType=SMALLINT},
      </if>
      <if test="workExperienceId != null" >
        #{workExperienceId,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cook.entity.Resume" >
    update resume
    <set >
      <if test="workYear != null" >
        work_year = #{workYear,jdbcType=SMALLINT},
      </if>
      <if test="workExperienceId != null" >
        work_experience_id = #{workExperienceId,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cook.entity.Resume" >
    update resume
    set work_year = #{workYear,jdbcType=SMALLINT},
      work_experience_id = #{workExperienceId,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>