<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cook.dao.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.cook.entity.SysUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="account_num" property="accountNum" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="enroll_date" property="enrollDate" jdbcType="BIGINT" />
    <result column="last_login_date" property="lastLoginDate" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_num, password, phone, enroll_date, last_login_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cook.entity.SysUser" >
    insert into sys_user (id, account_num, password, 
      phone, enroll_date, last_login_date
      )
    values (#{id,jdbcType=VARCHAR}, #{accountNum,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{enrollDate,jdbcType=BIGINT}, #{lastLoginDate,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cook.entity.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountNum != null" >
        account_num,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="enrollDate != null" >
        enroll_date,
      </if>
      <if test="lastLoginDate != null" >
        last_login_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="accountNum != null" >
        #{accountNum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="enrollDate != null" >
        #{enrollDate,jdbcType=BIGINT},
      </if>
      <if test="lastLoginDate != null" >
        #{lastLoginDate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cook.entity.SysUser" >
    update sys_user
    <set >
      <if test="accountNum != null" >
        account_num = #{accountNum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="enrollDate != null" >
        enroll_date = #{enrollDate,jdbcType=BIGINT},
      </if>
      <if test="lastLoginDate != null" >
        last_login_date = #{lastLoginDate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cook.entity.SysUser" >
    update sys_user
    set account_num = #{accountNum,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      enroll_date = #{enrollDate,jdbcType=BIGINT},
      last_login_date = #{lastLoginDate,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="userByPhone" resultMap="BaseResultMap">
        SELECT id, account_num, password, phone, enroll_date, last_login_date FROM sys_user
        WHERE phone = #{phone}
    </select>
</mapper>