<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cook.dao.UserBrowseMapper" >
  <resultMap id="BaseResultMap" type="com.cook.entity.UserBrowse" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="browse_type" property="browseType" jdbcType="SMALLINT" />
    <result column="last_browse_date" property="lastBrowseDate" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="content_id" property="contentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, browse_type, last_browse_date, user_id, content_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_browse
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_browse
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cook.entity.UserBrowse" >
    insert into user_browse (id, browse_type, last_browse_date, 
      user_id, content_id)
    values (#{id,jdbcType=VARCHAR}, #{browseType,jdbcType=SMALLINT}, #{lastBrowseDate,jdbcType=BIGINT}, 
      #{userId,jdbcType=VARCHAR}, #{contentId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cook.entity.UserBrowse" >
    insert into user_browse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="browseType != null" >
        browse_type,
      </if>
      <if test="lastBrowseDate != null" >
        last_browse_date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="contentId != null" >
        content_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="browseType != null" >
        #{browseType,jdbcType=SMALLINT},
      </if>
      <if test="lastBrowseDate != null" >
        #{lastBrowseDate,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cook.entity.UserBrowse" >
    update user_browse
    <set >
      <if test="browseType != null" >
        browse_type = #{browseType,jdbcType=SMALLINT},
      </if>
      <if test="lastBrowseDate != null" >
        last_browse_date = #{lastBrowseDate,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="contentId != null" >
        content_id = #{contentId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cook.entity.UserBrowse" >
    update user_browse
    set browse_type = #{browseType,jdbcType=SMALLINT},
      last_browse_date = #{lastBrowseDate,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      content_id = #{contentId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>