<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziheng.dao.UserGetDao" >

    <!--用户求职列表-->
    <select id="huntList" resultType="com.ziheng.dto.userGet.Hunt">
        SELECT h.id AS huntId,h.salary,j.name AS jobName,h.hunt_date AS publishDate,
        ft.name AS foodTypeName,ft.icon_name AS foodTypeIconName
         FROM hunt h INNER JOIN job j
         on h.job_id = j.id INNER JOIN food_type ft
         on ft.id = h.food_type_id INNER join resume r
         on r.id = h.resume_id
         WHERE r.user_id = #{userId}
    </select>

    <!--用户的简历列表-->
    <select id="resumeList" resultType="com.ziheng.dto.userGet.Resume">
        SELECT r.id as resumeId,r.title,sui.username,sui.sex,sui.birth_date AS birthDate,su.phone FROM resume r
        INNER JOIN sys_user su on su.id = r.user_id INNER JOIN sys_user_info sui
        on sui.sys_user_id = su.id
        WHERE r.user_id = #{userId}
    </select>

    <!--获取用户个人信息-->
    <select id="getUser" resultType="com.ziheng.dto.userGet.User">
        SELECT sui.head_img_name AS headImgUrl,
        sui.username,sui.sex,
        su.phone,sui.signature,sui.address,
        sui.birth_date AS birthDate from sys_user_info sui
        INNER join sys_user su on su.id = sui.sys_user_id
        WHERE su.id = #{userId}
    </select>

    <!--获取用户发布的资讯 图文:0 视频:1-->
    <select id="consultList" resultType="com.ziheng.dto.userGet.Consult">
        <if test='consultType == 0'>
            SELECT c.id AS consultId,
            c.consult_type AS consultType
            it.title,it.admire_count AS admireCount,
            c.publish_date AS publishDate,
            it.image_name AS imageNames
            FROM consult c
            INNER JOIN image_text it ON c.article_id = it.id
            WHERE c.user_id = #{userId} AND c.consult_type = #{consultType}
        </if>
        <if test='consultType == 1'>
            SELECT c.id AS consultId,
            c.consult_type AS consultType
            v.title,v.admire_count AS admireCount,
            c.publish_date AS publishDate,
            v.video_img_name AS videoImageName,
            v.video_url AS videoUrl,
            v.play_count AS playCount
            FROM consult c
            INNER JOIN video v ON c.article_id = v.id
            WHERE c.user_id = #{userId} AND c.consult_type = #{consultType}
        </if>
    </select>

    <!--获取用户的投递申请-->
    <select id="getUserApply" resultType="com.ziheng.dto.userGet.UserApply">
        SELECT ura.id As recruitApplyId,
        ura.food_type_name AS foodTypeName,
        ura.publisher_name AS publisherName,
        ura.job_name AS jobName,
        ura.apply_date AS applyDate
        FROM user_recruit_apply ura
        WHERE ura.user_id = #{userId}
    </select>

    <!--获取咨询收藏-->
    <select id="consultCollectList" resultType="com.ziheng.dto.userGet.Consult">
        <choose>
            <when test="consultType == 0">
                SELECT c.id AS consultId,
                c.consult_type AS consultType
                it.title,it.admire_count AS admireCount,
                c.publish_date AS publishDate,
                it.image_name AS imageNames
                FROM consult c
                INNER JOIN user_collect uc on uc.user_id = c.user_id
                INNER JOIN image_text it ON uc.content_id = it.id
                WHERE uc.user_id = #{userId} AND uc.collect_type = 2
            </when>
            <when test="consultType == 1">
                SELECT c.id AS consultId,
                c.consult_type AS consultType
                v.title,v.admire_count AS admireCount,
                c.publish_date AS publishDate,
                v.video_img_name AS videoImageName,
                v.video_url AS videoUrl,
                v.play_count AS playCount
                FROM consult c
                INNER JOIN user_collect uc on uc.user_id = c.user_id
                INNER JOIN video v ON uc.content_id = v.id
                WHERE uc.user_id = #{userId} AND uc.collect_type = 2
            </when>
        </choose>
    </select>


    <!--职位收藏-->
    <select id="jobCollectList" resultType="com.ziheng.dto.userGet.Job">
        <choose>
            <when test="jobType == 0">
                SELECT uc.content_id AS id,uc.collect_type AS idType,ft.icon_name AS iconName
                j.name AS jobName,r.salary,r.publish_date publishDate
                <if test="recruitType == 0">
                   , p.name AS publisherName
                </if>
                <if test="recruitType == 1">
                    , e.name AS publisherName
                </if>
                From user_collect uc
                INNER JOIN recruit r ON uc.content_id = r.id
                <if test="recruitType == 0">
                    INNER JOIN proxy p ON p.id = r.publisher_id
                </if>
                <if test="recruitType == 1">
                    INNER JOIN enterprise e ON e.id = r.publisher_id
                </if>
                INNER JOIN job j ON j.id = r.job_id
                INNER JOIN food_type ft ON ft.id = r.food_type_id
                WHERE uc.user_id = #{userId} AND uc.collect_type = 0
            </when>
            <when test="jobType == 1">
                SELECT uc.content_id AS id,uc.collect_type AS idType,ft.icon_name AS iconName
                j.name AS jobName,h.salary,h.hunt_date publishDate
                From user_collect uc
                INNER JOIN hunt h ON uc.content_id = h.id
                INNER JOIN job j ON j.id = r.job_id
                INNER JOIN food_type ft ON ft.id = r.food_type_id
                WHERE uc.user_id = #{userId} AND uc.collect_type = 0
            </when>
        </choose>
    </select>

    <!--获取咨询浏览-->
    <select id="consultBrowseList" resultType="com.ziheng.dto.userGet.Consult">
        <choose>
            <when test="consultType == 0">
                SELECT c.id AS consultId,
                c.consult_type AS consultType
                it.title,it.admire_count AS admireCount,
                c.publish_date AS publishDate,
                it.image_name AS imageNames
                FROM consult c
                INNER JOIN user_browse ub on ub.user_id = c.user_id
                INNER JOIN image_text it ON ub.content_id = it.id
                WHERE ub.user_id = #{userId} AND ub.browse_type = 2
            </when>
            <when test="consultType == 1">
                SELECT c.id AS consultId,
                c.consult_type AS consultType
                v.title,v.admire_count AS admireCount,
                c.publish_date AS publishDate,
                v.video_img_name AS videoImageName,
                v.video_url AS videoUrl,
                v.play_count AS playCount
                FROM consult c
                INNER JOIN user_browse ub on ub.user_id = c.user_id
                INNER JOIN video v ON ub.content_id = v.id
                WHERE ub.user_id = #{userId} AND ub.browse_type = 2
            </when>
        </choose>
    </select>

    <!--获取职位浏览-->
    <select id="jobBrowseList" resultType="com.ziheng.dto.userGet.Job">
        <choose>
            <when test="jobType == 0">
                SELECT ub.content_id AS id,ub.collect_type AS idType,ft.icon_name AS iconName
                j.name AS jobName,r.salary,r.publish_date publishDate
                <if test="recruitType == 0">
                    , p.name AS publisherName
                </if>
                <if test="recruitType == 1">
                    , e.name AS publisherName
                </if>
                From user_browse ub
                INNER JOIN recruit r ON ub.content_id = r.id
                <if test="recruitType == 0">
                    INNER JOIN proxy p ON p.id = r.publisher_id
                </if>
                <if test="recruitType == 1">
                    INNER JOIN enterprise e ON e.id = r.publisher_id
                </if>
                INNER JOIN job j ON j.id = r.job_id
                INNER JOIN food_type ft ON ft.id = r.food_type_id
                WHERE ub.user_id = #{userId} AND ub.collect_type = 0
            </when>
            <when test="jobType == 1">
                SELECT ub.content_id AS id,ub.collect_type AS idType,ft.icon_name AS iconName
                j.name AS jobName,h.salary,h.hunt_date publishDate
                From user_browse ub
                INNER JOIN hunt h ON ub.content_id = h.id
                INNER JOIN job j ON j.id = r.job_id
                INNER JOIN food_type ft ON ft.id = r.food_type_id
                WHERE ub.user_id = #{userId} AND ub.collect_type = 0
            </when>
        </choose>
    </select>

</mapper>