<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cai.dao.HuntDao">
    <select id="listHunt" resultType="com.cai.dto.Hunt">
        SELECT h."id" AS huntId, h."resume_id" AS resumeId, j."name" AS jobName, f."name" AS foodTypeName, h."salary",
        h."work_area" AS workArea, h."hunt_date" AS publishDate, si."username" AS publisherName
        FROM hunt h
        INNER JOIN job j ON h."job_id" = j."id"
        INNER JOIN food_type f ON h."food_type_id" = f."id"
        INNER JOIN resume r ON h."resume_id" = r."id"
        INNER JOIN sys_user s ON r."user_id" = s."id"
        INNER JOIN sys_user_info si ON s."id" = si."sys_user_id"
        <if test="conditionType != null and conditionType == 0">
            WHERE h."work_area" = '${conditionDetail}'
        </if>
        <if test="conditionType != null and conditionType == 1">
            WHERE j."name" = '${conditionDetail}'
        </if>
        <if test="conditionType != null and conditionType == 2">
            WHERE h."salary" = '${conditionDetail}'
        </if>
        <if test="conditionType != null and conditionType == 4">
            WHERE h."hunt_date" = '${conditionDetail}'
        </if>
        <if test="conditionType != null and conditionType == 5">
            WHERE r."work_year" = '${conditionDetail}'
        </if>

    </select>

    <select id="getHuntDetailByResumeId" resultType="com.cai.dto.HuntDetail">
        SELECT h."id" AS huntId, h."resume_id" AS resumeId,
        si."username", si."signature", si."head_img_name" AS headImgName, f."name" AS foodTypeName, r."education"
        , r."work_year" AS workYear, si."address", j."name" AS jobName, h.salary, h."browse_count", h."hunt_date" AS publishDate
        FROM resume r
        INNER JOIN sys_user s ON r."user_id" = s."id"
        INNER JOIN sys_user_info si ON s."id" = si."sys_user_id"
        INNER JOIN hunt h ON r."id" = h."resume_id"
        INNER JOIN food_type f ON h."food_type_id" = f."id"
        INNER JOIN job j ON h."job_id" = j."id"
        <if test="resumeId != null">
            WHERE r."id" = #{resumeId}
        </if>
    </select>

    <select id="listHuntDetailByKeyword" resultType="com.cai.dto.HuntDetail">
         SELECT r."id" AS resumeId,h.id AS huntId,si."username", j."name" AS jobName, h."hunt_date" AS publishDate,h.salary
        FROM resume r
        INNER JOIN sys_user s ON r."user_id" = s."id"
        INNER JOIN sys_user_info si ON s."id" = si."sys_user_id"
        INNER JOIN hunt h ON r."id" = h."resume_id"
        INNER JOIN job j ON h."job_id" = j."id"
        <if test="jobRecommend != null">
            WHERE j."name" like '%${jobRecommend}%'
        </if>
    </select>
</mapper>