<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziheng.dao.UserDao" >


    <select id="huntList" resultType="com.ziheng.dto.user.Hunt">
        SELECT h.id AS huntId,h.salary,j.name AS jobName,h.hunt_date AS publishDate,
        ft.name AS foodTypeName,ft.icon_name AS foodTypeIconName
         FROM hunt h INNER JOIN job j
         on h.job_id = j.id INNER JOIN food_type ft
         on ft.id = h.food_type_id INNER join resume r
         on r.id = h.resume_id
         WHERE r.user_id = #{userId}
    </select>


</mapper>